html, body{
    width: 100%;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 62.5%;
    margin: 0;
}

/****************************HEADER**************************/

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f4f4f4;
}
header ul:first-of-type{
    display: flex;
    flex-flow: row wrap;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    background-color: #ffdd22;
    height: 47px;
    margin: 0;
    padding: 0 20px 0 20px;
}
.dominos{
    background-image: url(../icons/dominos.png);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin-right: -35px;
}
.machine{
    background-image: url(../icons/machine.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    margin-right: -25px;
}
header ul:last-of-type{
    display: flex;
    flex-flow: row wrap;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    justify-content: start;
    align-items: center;
    width: 25%;
}
header ul:last-of-type li:first-of-type{
    margin-right: 5%;
    color: red;
}
header span{
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    background-color: #e7e7e7;
    opacity: .5;
}